{
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead"
      }
    ]
  ]
}